Source: factorio-multienv-ctl
Section: misc
Priority: optional
Maintainer: Maikel Wever <maikelwever@gmail.com>
Standards-Version: 3.9.2
Build-Depends: debhelper
Build-Depends-Indep: bash-completion

Package: factorio-multienv-ctl
Architecture: amd64
Pre-Depends: bash,bsdtar,curl,grep,systemd,ca-certificates
Depends: sed
Recommends: bash-completion
Description: Factorio environment manager and server updater
Conflicts: factorio-init
